<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Unity3D.UnityEngine" version="2020.3.21" targetFramework="net471" />
	<Reference Include="UnityEditor.UI">
		<HintPath>C:/Data/Unity Projects/MyProjectFolder/Library/ScriptAssemblies/UnityEditor.UI.dll</HintPath>
	</Reference>
	<Reference Include="UnityEngine.InputModule">
		<HintPath>C:/Program Files/Unity/Hub/Editor/2019.2.9f1/Editor/Data/Managed/UnityEngine/UnityEngine.InputModule.dll</HintPath>
	</Reference>
</packages>

